<div id="message_<%= message.id %>" class="message_block" data-controller="message" data-user-id = "<%= message.user.id %>">
    <% if !message.room.is_private %>
        <p class="name"> <%= message.user.username %></p>
    <% end %>
    <%= message.content %>
</div>