<h1>Memberships#show</h1>
<p>Find me in app/views/memberships/show.html.erb</p>
<% if @invitation&.status == "accepted"%>
    <%= button_to "Block", block_user_membership_path(id: @invitation.id), method: :patch %>
<% end %>

<% if @invitation&.status == "blocked" %>
    <%= button_to "Unblock", unblock_user_membership_path(id: @invitation.id), method: :patch %>
<% end %>