<div class="container-fluid bg-dark text-white">
    <h1>Welcome to Chatmaster app!<h1>
    <h2>Our currect status: </h2>
    <p>Number of users: <%= @users %></p>
    <p>Number of rooms: <%= @roomms %></p>
</div>
