<section class="bg-dark 100vh text-white">
    <% @invitations.each do |invitation| %>
        <div>
            <%= invitation.user.username %>
            <%= link_to "Accept", accept_invitation_url(token: invitation.token), class: "btn btn-success" %>
            <%= button_to "Decline", destroy_invitation_url(token: invitation.token), method: :delete, class: "btn btn-danger"  %>
        </div>
    <% end %>
</section>