<section class="bg-dark vh-100 text-white">
    <% if @invitation.token.present? %>
      <p>Your link for friend invitation:</p>
        <%= "http://#{request.host}:#{request.port}/invitations/#{@invitation.token}" %>
    <% else %>
        <p>You dont have any link generated, you can do it here:</p>
        <%= link_to "Invites", invite_path %>
    <% end %>
</section>