<section class="bg-dark vh-100 text-white">
    <% if @invitation.present? %>
        <% if @invitation.username.blank?%>
            <p>Your link for friends invitations:</p>
            <%= "http://#{request.host}:#{request.port}/invitations/#{@invitation.token}" %>
        <% end %>
    <% else %>
        <p>You dont have any link generated, you can do it here:</p>
        <%= link_to "Invite", invite_path, class: "btn btn-primary" %>
    <% end %>
</section>