// Entry point for your Sass build
@import "bootstrap/scss/bootstrap";
.logo{
  width: 125px;
}

.name{
  font-size: larger;
  font-weight: bold;
  color: $gray-300;
}

.name_current_user{
  font-size: larger;
  font-weight: bold;
  color: $gray-300;
  display: flex;
  justify-content: flex-end;
}


#room_container{
  padding: 5px;
  color: white;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.message_block{
  margin: 2%;
  max-width: 65%;
  padding: 1%;
  clear: both;
  border-radius: 1rem;
  word-break: break-word;
  box-shadow: 8px 8px 8px black;
}

.theirs{
  background-color: $primary;
  float: left;
}

.mine{
  background-color: $secondary;
  float: right;
}

#navbarSupportedContent{
  position: relative;
}

#searchForm{
  width: 40vb;
  float: left;
}

.img-circle{
  border-radius: 50%;
}